extends base

block content 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark 
        .container-fluid 
            ul.navbar-nav 
                li.navbar-item 
                    a.nav-link.text-decoration-underline(href="/video/dashboard/all") Dashboard
                li.navbar-item 
                    a.nav-link.text-decoration-underline(href="/video/new_video") Add Video

            .d-flex 
                span.navbar-text.me-2 Logged in as #{userId}.
                a.btn.btn-primary(href="/auth/logout") Log out

    .container-lg.p-3.center-contents
        block primary
