extends base

block primary
    .text-center
        h1 Welcome to Video Share! 
        p This is a site where you can share your favorite videos with others. Log in or register to begin!
        a.btn.btn-primary(href="/auth/login") Log in
        a.btn.btn-primary.ms-1(href="/auth/register") Register
